html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}

#posenet-root, .app {
  width: 100%;
  height: 100%;
}

#poseNetPreview, #poseNetPredictions {
  position: absolute;
  width: 100%;
  height: 100%;
}


canvas {
  display: block;
  width: auto;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.react-dat-gui {
  position: relative;
  right: auto;
  top: auto;
  width: 100%;
}

.react-dat-gui .dg li:not(.folder) {
  height: auto;
}

.react-dat-gui .dg li select {
  color: #000000;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}
 
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
 
/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 0 0;
  font-size: 1.15em;
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em 0;
}
 
/* Individual item */
.bm-item {
  display: inline-block;
}
 
.react-dat-gui > ul > li {
  list-style: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#stats-bm-item > div {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  padding: 10px 5px;
}